body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	position: relative;
}

html {
  min-width: 900px;
}

header{
	box-sizing: content-box;
}

.tac{
	text-align: center;
	
}

.container{
	width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
}

.container__header{
	height: 100px;
/* 	border:1px solid red; */
}


.header__logo{
	width: 252px;
	float: left;
	margin: 10px 42px 0 0;
}

.header__menu{
	float: left;
	margin-top: 40px;
	font-size: 14px;
	font-weight: bold;

}

.header__menu-all{
	margin: 0;
	padding: 0;
}

.header__menu-item{
	list-style: none;
	float: left;
}

.header__menu-item_link {
	text-decoration: none;
	width: 172px;
	padding: 10px 10px;
}

.header__menu-item_link:hover {
	text-decoration: none;
	background: #f7f2fe;
	padding: 10px 10px;
	border-radius: 3px;
}


.header__contact{
	width: 179px;
	margin-top: 8px;
	float: right;
	color: #300e58;
}

.header__button{
	border: 1px solid #2f1059;
	border-radius: 3px;
	padding: 5px 5px 5px 12px;
	font-weight: bold;
	font-size: 14px;
	color: #2f1059;
	float: right;

}

.header__button_link{
	text-decoration: none;

}


.header__tel{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 7px;
	float: right;
}

.header__call_mod{
	padding: 7px;

}
/* .cloud{

} */

.offer{
	width: 100%;
	height: 620px;
	background: url(../img/house.jpg) no-repeat center top/cover;

}

.offer__container{
	background: url(../img/cloud2.png) no-repeat 50% 70%;
	padding-bottom: 30px;
}


.offer__text{
	padding-top: 70px;
}	

.offer__text_bold{
	font-weight: bold;
}

.offer__text_light{
	font-weight:300;
}

.offer__header{
	color: #2f1059;
	text-align: center;
}
.offer__header-hight{
	font-size: 22px;

}

.offer__header-main{
	margin: 0;
	font-size: 43px;
	text-transform: uppercase;
	padding-top: 20px;
}

.offer__header-low{
	font-size: 20px;
	margin-bottom: 20px;
}

.offer__form{
	width: 843px;
	margin: 0 auto;
    margin-top: 0px;
	text-align: center;
	margin-top: 118px;
	background: url(../img/bg-form.png) no-repeat;
	height: 422px;
}


.offer__form-wrap{
	padding-top: 60px;
	color: #fbfafa;


}

.offer__form-header{
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

.offer__form-text{
	font-size: 17px;
	font-weight: 300;
}

.offer__form-text_position{
	margin: 10px 0 13px 0; 
}

.offer__form-text_color{
	color: #7925ec;
}

.offer__form-main{
	margin-bottom: 47px;
	outline: none;
}

.offer__input{
	width: 170px;
	padding: 14px 26px;
	border-radius: 5px;
	outline: none;
	border:0px;
	color: #9c95a5;
	font-weight: 300;
	font-family: FontAwesome;
	//box-sizing: content-box;
	font-size: 16px;
}


.offer__form-button{
	background: #d22828;
	color: #fff;
	font-weight: 700;
	width: 274px;
	font-size: 17px;

}

.offer__form-number{
	font-weight: 700;
	border:1px solid #7925ec;
	padding: 2px 8px;
	border-radius: 3px;

}

.advantages{
	display: block;
	height: 386px;
}

.advantages__list{
	
	
	
}

.advantages__item{
	padding-left: 0;
	float: left;
	list-style: none;
	width: 157px;
	height: 9em;;
	background: url(../img/bg-advantages.png) no-repeat;
	text-align: center;
	padding-right: 36px;
	font-size: 17px;
}

.advantages__item:nth-child(3){
	//padding: 50px;
}

.advantages__text{
	padding: 49px 16px;
	line-height: 109%;
	width: 81%;
	letter-spacing: 0.8pt;
}

.advantages__item_195{
	margin-top: 195px;
}

.advantages__item_98{
	margin-top: 98px;
}

.advantages__item_46{
	margin-top: 46px;
}

.violet-line{
	margin-top: -21px;
	height: 195px;
	background: url(../img/wave1Part.png);
}

.violet-line__header, .violet-line__text{
	color: #fff;
	text-align: center;

}

.violet-line__header-position{
	margin: 0;
	padding-top: 25px;
}

.violet-line__text-position{
	padding-top: 14px;
	margin: 0;
}


.violet-line__circle{
	text-align: center;
	background: url(../img/text-round.png) no-repeat 58% 31%;
	width: 142px;
	margin: 0 auto;
	padding-top: 42px;
}

/*location*/

.location{
	margin-top: 105px;
}

.location__header-big{
	margin: 0;
	font-size: 37px;
}


.location__header-little{
	margin-top: 14px;
	font-size: 20px;
}

.location__list{
	margin-top: 40px;
	list-style: none;
}

.location__list-item{
	width: 370px;
	float: left;
	margin-right: 25px;
	
}

.location__list-item__img{
	box-shadow: 5px 5px 35px -11px #000000; 
}

.location__list-item:nth-child(1){
	margin-top: -5px;
}

.location__list-item:nth-child(2){
	margin-top: 20px;
}


.location__list-item:nth-child(3){
	margin-right: 0;
}


.list-item__text-big{
	font-size: 21px;
	margin: 5px 0 0 0;

}

.list-item__text-little{
	font-size: 15px;
	margin-top: 8px;
	padding: 0 59px;
}
