body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	position: relative;
}

html {
  min-width: 900px;
}

header{
	box-sizing: content-box;
}

.container{
	width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
}

.container__header{
	height: 100px;
/* 	border:1px solid red; */
}


.header__logo{
	width: 252px;
	float: left;
	margin: 10px 42px 0 0;
}

.header__menu{
	float: left;
	margin-top: 40px;
	font-size: 14px;
	font-weight: bold;

}

.header__menu-all{
	margin: 0;
	padding: 0;
}

.header__menu-item{
	list-style: none;
	float: left;
}

.header__menu-item_link {
	text-decoration: none;
	width: 172px;
	padding: 10px 10px;
}

.header__menu-item_link:hover {
	text-decoration: none;
	background: #f7f2fe;
	padding: 10px 10px;
	border-radius: 3px;
}


.header__contact{
	width: 179px;
	margin-top: 8px;
	float: right;
	color: #300e58;
}

.header__button{
	border: 1px solid #2f1059;
	border-radius: 3px;
	padding: 5px 5px 5px 12px;
	font-weight: bold;
	font-size: 14px;
	color: #2f1059;
	float: right;

}

.header__button_link{
	text-decoration: none;

}


.header__tel{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 7px;
	float: right;
}

.header__call_mod{
	padding: 7px;

}
/* .cloud{

} */

.offer{
	width: 100%;
	height: 620px;
	background: url(../img/house.jpg) no-repeat center top/cover;

}

.offer__container{
	background: url(../img/cloud2.png) no-repeat 50% 70%;
	padding-bottom: 30px;
}


.offer__text{
	padding-top: 70px;
}	

.offer__text_bold{
	font-weight: bold;
}

.offer__text_light{
	font-weight:300;
}

.offer__header{
	color: #2f1059;
	text-align: center;
}
.offer__header-hight{
	font-size: 22px;

}

.offer__header-main{
	margin: 0;
	font-size: 43px;
	text-transform: uppercase;
	padding-top: 20px;
}

.offer__header-low{
	font-size: 20px;
	margin-bottom: 20px;
}

.offer__form{
	width: 830px;
	margin: 0 auto;
    margin-top: 0px;
	text-align: center;
	margin-top: 118px;
	background: url(../img/bg-form.png) no-repeat;
	height: 422px;
	
}


.offer__form-wrap{
	padding-top: 60px;
	color: #fbfafa;


}

.offer__form-header{
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

.offer__form-text{
	font-size: 17px;
	font-weight: 300;
}

.offer__form-text_position{
	margin: 10px 0 13px 0; 
}

.offer__form-text_color{
	color: #7925ec;
}

.offer__form-main{
	margin-bottom: 47px;
	outline: none;
}

.offer__input{
	width: 170px;
	padding: 14px 26px;
	border-radius: 5px;
	outline: none;
	border:0px;
	color: #9c95a5;
	font-weight: 300;
	font-family: FontAwesome;
	//box-sizing: content-box;
}


.offer__form-button{
	background: #d22828;
	color: #fff;
	font-weight: 700;
	width: 274px;

}

.offer__form-number{
	font-weight: 700;
	border:1px solid #7925ec;
	padding: 2px 8px;
	border-radius: 3px;

}





/* .class0{
	background: url(../img/house.jpg) no-repeat;
}
}

.class1{
	border: 1px solid red;

}

.class2{
	border: 1px solid green;
	background: url(../img/cloud.png); green;

}
 */

/*  .mainLoginInput{

}
.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
}

.mainLoginInput:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
}

Style the input container
.input-container {
 display: flex;
 width: 100%;
 margin-bottom: 15px;
}

Style the input fields
.input-field {
	font-family: FontAwesome;
 width: 100%;
 padding: 10px;
 outline: none;
} */