body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

html {
  min-width: 900px;
}

header{
	box-sizing: content-box;
}

.container{
	width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
}



.offer{
	height: 600px;
	background: url(../img/house.jpg) no-repeat center top/cover /*100% 50%*/;
}


.class1{
	border: 1px solid green;
	background: url(../img/cloud.png) no-repeat 50% 50%;
	background-size: 88%;
	font-size: 50px;
}

.class2{
	border: 1px solid green;
	
	font-size: 50px;

}

.class2__1{
	margin-top:  10px;
}

.class2__2{
	margin-top:  10px;
}

.class2__3{
	margin-top:  10px;

}

.container__list{
	width: 0 auto;
	padding: 0;
}

.container__item{
	float: left; /* выстраиваем блочные элементы в ряд */
	margin-right: 4px;
	width: 23px;
	height: 19px;
	overflow: hidden;
	text-align: center;
}
.block{
	margin: auto;
	width: 227px;
}


<ul class="footer-list offer__text-light lsn">
					
					<li class="footer-list__item">
						<img src="img/logo-bg.png" alt="logo-bg">
					</li>
					<li class="footer-list__item footer-list__item-rights">
						2015 Все права защищены <br>
						<a href="#">Политика конфиденциальности</a>
					</li>
					<li class="footer-list__item">
						<i class="fal fa-map-marker-alt"></i> Адрес офиса: <br>
						Ярославская область <br>
						р-н Заволжский, ул.3-я Тверицкаяд.32 <br>
						<span class="offer__text-bold">E-mail:</span> info@sitename.ru
					</li>
					<li class="footer-list__item">
						<img src="img/logo-bg.png" alt="logo-bg">
					</li>
				</ul>